---
openapi: 3.0.3
info:
  title: Pinole API
  version: v1
  description: 'The work search domain of the Pinole API: postings, activities, and
    the funnel. Every /v1/work route is allowlisted by WORK_AUTHORIZED_EMAILS and
    answers 404 to anyone else.'
servers:
- url: https://api.atelic.me
security:
- api_key: []
tags:
- name: Work
  description: 'The work search: postings, activities, and the funnel'
paths:
  "/v1/work/activities":
    get:
      summary: Lists activities
      tags:
      - Work
      description: The work search activities, oldest first. A window is either an
        ISO week, expanded to the Sunday to Saturday claim week containing that week's
        Monday, or a from and to pair; naming both is a 400.
      security:
      - api_key: []
      parameters:
      - name: week
        in: query
        required: false
        description: ISO week, YYYY-Www
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date
        required: false
      - name: to
        in: query
        schema:
          type: string
          format: date
        required: false
      - name: kind
        in: query
        required: false
        enum:
        - application
        - follow_up
        - networking
        - listings_review
        - registration
        - registration_maintenance
        - resume_submission
        - interview
        schema:
          type: string
        description: ":\n * `application` \n * `follow_up` \n * `networking` \n *
          `listings_review` \n * `registration` \n * `registration_maintenance` \n
          * `resume_submission` \n * `interview` \n "
      - name: reported
        in: query
        required: false
        schema:
          type: boolean
      - name: job_posting_id
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: At most 100
        schema:
          type: integer
      responses:
        '200':
          description: the activities, paginated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ActivityCollection"
        '400':
          description: week combined with from or to, or a malformed window
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: a user outside WORK_AUTHORIZED_EMAILS
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
    post:
      summary: Logs activities
      tags:
      - Work
      description: One row ({ activity }) answers with the entity; a batch ({ activities
        }) is created in one transaction and answers with the collection in row order.
        performed_on, kind, and employer are required, and job_posting_id must name
        the caller's own posting.
      security:
      - api_key: []
      parameters: []
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/ActivityEntity"
                - "$ref": "#/components/schemas/ActivityBulk"
        '422':
          description: a row failed validation; nothing was saved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RowError"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - activity
                properties:
                  activity:
                    "$ref": "#/components/schemas/ActivityInput"
              - type: object
                required:
                - activities
                properties:
                  activities:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ActivityInput"
  "/v1/work/activities/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    patch:
      summary: Updates an activity
      tags:
      - Work
      description: 'reported: true stamps reported_at now unless it is already set;
        reported: false clears reported_at and the confirmation. exclusion_reason
        keeps an activity off the claim on purpose.'
      security:
      - api_key: []
      parameters: []
      responses:
        '200':
          description: updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ActivityEntity"
        '404':
          description: another user's activity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - activity
              properties:
                activity:
                  "$ref": "#/components/schemas/ActivityInput"
    delete:
      summary: Deletes an activity
      tags:
      - Work
      security:
      - api_key: []
      responses:
        '204':
          description: deleted
        '404':
          description: another user's activity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/v1/work/funnel":
    get:
      summary: Reads the funnel
      tags:
      - Work
      description: Counts over the caller's postings and activities as they stand
        today.
      security:
      - api_key: []
      responses:
        '200':
          description: the funnel
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FunnelEntity"
        '404':
          description: a user outside WORK_AUTHORIZED_EMAILS
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/v1/work/postings":
    get:
      summary: Lists postings
      tags:
      - Work
      description: The postings the work search keeps, newest first by first_seen_on.
        No status is excluded by default.
      security:
      - api_key: []
      parameters:
      - name: status
        in: query
        required: false
        description: 'Repeatable or a comma list: rejected, shortlisted, flagged,
          queued, applied, interviewing, closed'
        schema:
          type: string
      - name: track
        in: query
        required: false
        enum:
        - w2
        - fractional
        schema:
          type: string
        description: ":\n * `w2` \n * `fractional` \n "
      - name: board
        in: query
        required: false
        schema:
          type: string
      - name: since
        in: query
        schema:
          type: string
          format: date
        required: false
        description: updated_at on or after this date
      - name: seen_since
        in: query
        schema:
          type: string
          format: date
        required: false
        description: first_seen_on on or after this date
      - name: q
        in: query
        required: false
        description: Case insensitive match on company and title
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: At most 100
        schema:
          type: integer
      responses:
        '200':
          description: the postings, paginated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostingCollection"
        '400':
          description: an unknown filter value
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '401':
          description: no credential
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: a user outside WORK_AUTHORIZED_EMAILS
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
    post:
      summary: Upserts postings
      tags:
      - Work
      description: 'One row ({ posting }) answers with the entity; a batch ({ postings
        }) answers with the collection in row order plus created, updated, and matched
        counts, all in one transaction. Ladder per row: url match, else an id bearing
        key (three or more comma separated segments), else a fuzzy match on normalized
        company and title, else create. A url or key match takes every given field
        except that a sweep status (rejected, shortlisted, flagged) never replaces
        a hand placed one; a fuzzy match fills only blank url, key, and board, and
        refreshes verdict, fit_score, and status only while the stored status is still
        a sweep verdict.'
      security:
      - api_key: []
      parameters: []
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/PostingEntity"
                - "$ref": "#/components/schemas/PostingBulk"
        '422':
          description: a row failed validation; nothing was saved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RowError"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - posting
                properties:
                  posting:
                    "$ref": "#/components/schemas/PostingInput"
              - type: object
                required:
                - postings
                properties:
                  postings:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PostingInput"
  "/v1/work/postings/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    patch:
      summary: Updates a posting
      tags:
      - Work
      description: 'Moves a posting along the status graph: rejected, shortlisted,
        and flagged may move among themselves or to queued; queued to applied, rejected,
        or closed (the role vanished first, reason filled); applied to interviewing,
        closed, or rejected; interviewing to closed or rejected; closed is terminal.
        closed_reason is required exactly when the status is closed, and applied_on
        stamps itself when the status becomes applied.'
      security:
      - api_key: []
      parameters: []
      responses:
        '200':
          description: updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PostingEntity"
        '422':
          description: a transition the graph does not allow
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '404':
          description: another user's posting
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - posting
              properties:
                posting:
                  "$ref": "#/components/schemas/PostingInput"
    delete:
      summary: Deletes a posting
      tags:
      - Work
      security:
      - api_key: []
      responses:
        '204':
          description: deleted
        '404':
          description: another user's posting
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-Api-Key
      in: header
      description: A personal access token minted at POST /v1/accounts/personal_access_tokens.
        Authorization carries JWTs only; a PAT there answers 401.
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        details:
          type: object
          additionalProperties: true
          nullable: true
    RowError:
      type: object
      required:
      - error
      - row
      - errors
      description: A bulk create that failed validation on one row. Nothing in the
        batch was saved.
      properties:
        error:
          type: string
        row:
          type: integer
          description: Zero based index of the failing row in the request
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    PaginationMeta:
      type: object
      required:
      - page
      - per_page
      - total
      - total_pages
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
    PaginationLinks:
      type: object
      required:
      - self
      - first
      - last
      properties:
        self:
          type: string
        first:
          type: string
        prev:
          type: string
        next:
          type: string
        last:
          type: string
    Posting:
      type: object
      required:
      - id
      - company
      - title
      - track
      - status
      - first_seen_on
      - created_at
      - updated_at
      properties:
        id:
          type: integer
        company:
          type: string
        title:
          type: string
        url:
          type: string
          nullable: true
        key:
          type: string
          nullable: true
          description: The board's identifier; three or more comma separated segments
            is an ATS id
        board:
          type: string
          nullable: true
        track:
          type: string
          enum:
          - w2
          - fractional
        status:
          type: string
          enum:
          - rejected
          - shortlisted
          - flagged
          - queued
          - applied
          - interviewing
          - closed
        closed_reason:
          type: string
          enum:
          - declined
          - silent
          - withdrawn
          - disqualified
          - filled
          nullable: true
        verdict:
          type: string
          nullable: true
        fit_score:
          type: integer
          nullable: true
        first_seen_on:
          type: string
          format: date
        applied_on:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PostingInput:
      type: object
      description: The writable posting fields. company, title, and status are required
        on create.
      properties:
        company:
          type: string
        title:
          type: string
        url:
          type: string
          nullable: true
        key:
          type: string
          nullable: true
        board:
          type: string
          nullable: true
        track:
          type: string
          enum:
          - w2
          - fractional
        status:
          type: string
          enum:
          - rejected
          - shortlisted
          - flagged
          - queued
          - applied
          - interviewing
          - closed
        closed_reason:
          type: string
          enum:
          - declined
          - silent
          - withdrawn
          - disqualified
          - filled
          nullable: true
        verdict:
          type: string
          nullable: true
        fit_score:
          type: integer
          nullable: true
        first_seen_on:
          type: string
          format: date
        applied_on:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
    PostingEntity:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - entity
          properties:
            entity:
              "$ref": "#/components/schemas/Posting"
        meta:
          type: object
    PostingCollection:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: object
          required:
          - collection
          properties:
            collection:
              type: array
              items:
                "$ref": "#/components/schemas/Posting"
        meta:
          "$ref": "#/components/schemas/PaginationMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    PostingBulk:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: object
          required:
          - collection
          properties:
            collection:
              type: array
              items:
                "$ref": "#/components/schemas/Posting"
        meta:
          type: object
          required:
          - created
          - updated
          - matched
          properties:
            created:
              type: integer
            updated:
              type: integer
              description: Matched by url or an id bearing key
            matched:
              type: integer
              description: Matched by normalized company and title
    Activity:
      type: object
      required:
      - id
      - performed_on
      - kind
      - employer
      - reported
      - created_at
      - updated_at
      properties:
        id:
          type: integer
        performed_on:
          type: string
          format: date
        kind:
          type: string
          enum:
          - application
          - follow_up
          - networking
          - listings_review
          - registration
          - registration_maintenance
          - resume_submission
          - interview
        employer:
          type: string
        position:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        job_posting_id:
          type: integer
          nullable: true
        channel:
          type: string
          nullable: true
          description: 'How contact was made: email, site, phone'
        notes:
          type: string
          nullable: true
        reported:
          type: boolean
          description: 'Derived: reported_at is set'
        reported_at:
          type: string
          format: date-time
          nullable: true
        confirmation:
          type: string
          nullable: true
        exclusion_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ActivityInput:
      type: object
      description: 'The writable activity fields. performed_on, kind, and employer
        are required on create. reported: true stamps reported_at once; reported:
        false clears it and the confirmation.'
      properties:
        performed_on:
          type: string
          format: date
        kind:
          type: string
          enum:
          - application
          - follow_up
          - networking
          - listings_review
          - registration
          - registration_maintenance
          - resume_submission
          - interview
        employer:
          type: string
        position:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        job_posting_id:
          type: integer
          nullable: true
        channel:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        reported:
          type: boolean
        confirmation:
          type: string
          nullable: true
        exclusion_reason:
          type: string
          nullable: true
    ActivityEntity:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - entity
          properties:
            entity:
              "$ref": "#/components/schemas/Activity"
        meta:
          type: object
    ActivityCollection:
      type: object
      required:
      - data
      - meta
      - links
      properties:
        data:
          type: object
          required:
          - collection
          properties:
            collection:
              type: array
              items:
                "$ref": "#/components/schemas/Activity"
        meta:
          "$ref": "#/components/schemas/PaginationMeta"
        links:
          "$ref": "#/components/schemas/PaginationLinks"
    ActivityBulk:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: object
          required:
          - collection
          properties:
            collection:
              type: array
              items:
                "$ref": "#/components/schemas/Activity"
        meta:
          type: object
          required:
          - created
          properties:
            created:
              type: integer
    Funnel:
      type: object
      required:
      - as_of
      - applications
      - rejected
      - silent
      - in_conversation
      - interviews
      - withdrawn
      - disqualified
      - filled
      properties:
        as_of:
          type: string
          format: date
        applications:
          type: integer
          description: Postings with an applied_on date
        rejected:
          type: integer
          description: Closed with reason declined
        silent:
          type: integer
          description: Still applied, plus closed with reason silent
        in_conversation:
          type: integer
          description: Postings at interviewing
        interviews:
          type: integer
          description: Activities of kind interview
        withdrawn:
          type: integer
        disqualified:
          type: integer
        filled:
          type: integer
    FunnelEntity:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - entity
          properties:
            entity:
              "$ref": "#/components/schemas/Funnel"
        meta:
          type: object
